body {
  background: url(../images/wood_pattern/wood_pattern_@2X.png) repeat 0 bottom;
  font-family: 'Press Start 2P', cursive;
}

h1 {
  background-color: #933;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  padding: 20px;
  color: #faebd7;
}

p {
  line-height: 20px;
  margin: auto;
}
h2 {
  font-size: 20px;
}

.gameBoard {
  background: url(../images/background.jpg) repeat 0 bottom;
  background-size: cover;
  border: 5px solid black;
  width: 800px;
  height: 500px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  z-index: -2;
  overflow: hidden;
}
.menu {
  background-color: #933;
  margin: 170px auto 0;
  text-align: center;
  color: #faebd7;
  width: 50%;
  padding: 20px;
  border-radius: 10px;
  line-height: 25px;
}

.sausage {
  height: auto;
  width: auto;
  position: absolute;
  margin-left: 20px;
}

.obstacleBottom {
  background-image: url(../images/tileable-trunk.jpg);
  /*background-size: cover;*/
  position: absolute;
  top: 420px;
  left: 850px;
  width: 60px;
  border-radius: 15px 15px 0 0;
}
.obstacleBottom > img {
  width: 60px;
  height: 100%;
}

.obstacleTop {
  background: url(../images/four-clouds-small.png) repeat 0 bottom;
  position: absolute;
  top: 0;
  left: 850px;
  width: 60px;
}

.scoreBoard {
  position: absolute;
  bottom: 0;
  line-height: 5px;
  z-index: 1;
  left: 550px;
  width: 250px;
  font-size: 12px;
  color: #faebd7;
  text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
}

.bonusPoints {
  position: absolute;
  color: #66f;
}

.bonus {
  position: absolute;
  left: 870px;
}

#bonusCoin {
  height: 30px;
  width: 20px;
}
