h1 {
  background-color: #933;
}

.gameBoard {
  border: 5px solid black;
  width: 800px;
  height: 500px;
}

.sausage {
  background-color: blue;
  height: 30px;
  width: 100px;
  position: absolute;
  border-radius: 20px;
  top: 555px;
  left: 80px;
}
